body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    font-size: 18px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px; /* Agregado relleno en los lados para dispositivos móviles */
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Verdana', sans-serif;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.separator {
    height: 1px;
    background-color: #ffcc00;
    margin-bottom: 20px;
}

.content {
    padding: 20px;
}

.cover {
    text-align: center;
    margin: 20px auto;
}

.cover img {
    max-width: 100%;
    height: auto;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Reducir el tamaño de la fuente para dispositivos móviles */
    }

    .logo img {
        height: 40px; /* Ajustar el tamaño del logo para dispositivos móviles */
    }

    nav ul li {
        margin-right: 15px;
    }

    .separator {
        margin-bottom: 15px;
    }

    .content {
        padding: 15px;
    }
}
