body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;    
    font-size: 20px; /* Tamaño de fuente para los párrafos */
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
   
}

.logo img {
    height: 50px; /* Ajusta la altura del logo según tus necesidades */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.separator {
    height: 1px;
    background-color: #ffcc00;
    margin-bottom: 20px;
}

.content {
    padding: 20px;
    line-height: 1.6; /* Aumenta el espacio entre líneas en los párrafos */
}

.cover {
    text-align: center; /* Centra el contenido */
    margin: 20px auto; /* Ajusta el margen para centrar verticalmente */
}

.cover img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
}
