body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    font-size: 18px;
}

hr {
    border: none;
    height: 2px; /* Altura de la línea */
    background-color: #ffcc00; /* Color de la línea */
}

p {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    text-align: justify; /* Alinea el texto justificado */
}

header {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo img {
    max-height: 50px; /* Tamaño máximo del logo para pantallas grandes */
    height: auto;
}

.cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}


h1 {  
    
    color: #f0e68c; text-align: center; /* Tamaño del h1 en dispositivos móviles */
}

h2 {
    
    color: #ffcc00; text-align: center; /* Tamaño del h1 en dispositivos móviles */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .logo img {
        height: auto;
        max-height: 230px; /* Tamaño máximo del logo para dispositivos móviles */
    }

    
    .container {
        text-align: justify; /* Alinea el texto justificado en dispositivos móviles */
    }

    p {
        margin-bottom: 15px; /* Márgenes adecuados para los párrafos en dispositivos móviles */
    }

    .cover img {
        max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }

    body {
        font-size: 16px; /* Reducir el tamaño de la fuente para dispositivos móviles */
    }

    h1 {
        font-size: 1.2em;
        color: #f0e68c; text-align: center; /* Tamaño del h1 en dispositivos móviles */
    }

    h2 {
        font-size: 1em;
        color: #ffcc00; text-align: center; /* Tamaño del h1 en dispositivos móviles */
    }

    nav ul {
        flex-direction: column;        
        display: flex;
        gap: 8px;
        justify-content: center;
    }
    
    nav ul li {
        margin: 0;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: #ffcc00;
    }
    
    
        
        
    













}
